body{
	background:url("../img/rice-paper.jpg");
	font-family:'OpenSansRegular';
}
a:link{
	color:#234964;
}
a:visited{
	color:#234964;
}
#primary{
	margin-top:50px;
}
.panel{
	background:url("../img/white-plaster.jpg");
	border:10px solid white;
	margin-top:20px;
	padding:20px;
	z-index:1;
	position:relative;
	-webkit-box-shadow: 0px 3px 10px 1px rgba(4, 4, 4, .3);
	-moz-box-shadow: 0px 3px 10px 1px rgba(4, 4, 4, .3);
	box-shadow: 0px 3px 10px 1px rgba(4, 4, 4, .3);
}
.table td.center, .table th.center{
	text-align:center;
}
.spaced5{
	margin-top:5px;
}
.spaced10{
	margin-top:10px;
}
.spaced20{
	margin-top:20px;
}
.panel h1{
	color:#777;
	font-family:'OpenSansExtrabold';	
	font-size:24px;
	text-shadow: -1px 2px 1px #FFF;
	filter: dropshadow(color=#FFF, offx=-1, offy=2);
}
.panel table{
	background:#fff;
	border:1px solid #DDD;
	margin-bottom:5px;
}
.panel th{
	font-family:'OpenSansBold';
}
.panel.crispy{
		background:url("../img/white-paperboard.jpg");
		margin-left:-40px;
		padding-left:30px;
		z-index:0;
		position:relative;
}
#account img{
	border-radius:85px;
}
@media (max-width: 480px) { 
	.panel.crispy{	
		margin-left:0px;
		padding-left:20px;
		z-index:0;
		position:relative;
	}
	#account img{
		display:none;
	}
}